*.pem
*.dec.yaml
*.dec.yml
*.dec.json
.*.swp
*~
.*#
*.bak
*.zip
*.old
*.BAK
.idea
.vscode
#*
.#*
.DS_Store
.Trashes
.cache
.terraform
.terraform.lock.hcl
.terraformer
.terragrunt
*.jar
*.pyc
secret.tfvars
**/gatling/results/
*.log
*.pid
*tfstate*
